<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    
    <!-- Stock Analytics Connections -->
    <add key="DBConnectionString" value=""/>
    <add key="WebApiEndpoint" value="http://finance.yahoo.com/d/quotes.csv?s="/>
    
    <!-- Data Collection Settings -->
    <add key="FileDelimiter" value=","/>
    <add key="URLArgumentDelimiter" value="&amp;"/>
    <add key="MaxStockListingPerCall" value="50"/> <!-- Max is 200 -->
    <add key="BatchEODPollingFrequency" value="300"/> <!-- In Seconds-->
    
  </appSettings>
</configuration>